:host {
  display: block;
}

button, p, h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif !important;
}

.background-screen {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(109, 109, 109, 0.95);
}

.connect-wallet-button {
  background-color: black;
  color: white;
  /* border-radius: 40px; */
  font-weight: 300;
  font-size: 14px;
  border: 0px;
  padding-left: 4px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 145px;
  max-width: 145px;
  max-height: 35px;
  white-space: nowrap;
}

.connect-wallet-button > p {
  max-height: 30px;
  overflow: hidden;
  max-height: 40px;
  text-overflow: ellipsis;
}

.person-img > img {
  width: 65%;
  margin-right: 2px;
}

.uploaded-img > img {
  max-width: 18px;
  margin: 2px 4px;
  border-radius: 20px;
}

.logged-in > p {
  font-size: 14px;
}

.connect-wallet-button:hover {
  cursor: pointer;
  background-color: #36454F;
  
}

.connect-wallet-button:active {
  margin-top: 0.5px;
}

.logged-in:hover {
  cursor: default;
  background-color: black;
}

.logged-in:active {
  margin-top: 0;
}

.topDiv {
  display: block;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modalWindow {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 2% auto 0 auto;
  padding:20px;
  border: 0.25px solid white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-window-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 75%;
  margin: 0 auto;
}

.wallet-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

.wallet-header > *:last-child {
  padding-left: 20px;
}

.wallet-header img {
  width: 60px;

  margin-right: 1rem;
}

.wallet-header > h2 {
  text-decoration: underline;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: rgba(243, 244, 246, 1);
  font-weight: 400;
} 

.wallet-header.login-menu > h2 {
  text-decoration: none;
  margin: 0 auto;
}

.wallet-modal-button p {
  font-size: 18px;
  margin-left: 55px;
}

@media only screen and (min-width: 1400px) {
  .wallet-modal-button.users-modal {
    flex-direction: row !important;
    justify-content: center !important;
  }

  .wallet-modal-button.users-modal > button {
    margin: 10px 15px !important;
    justify-content: center !important;
  }

  .wallet-modal-button.users-modal p {
    margin-left: 0 !important;
  }
}

.login-menu-buttons-container > button  {
  background: black;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 10px 10px;
  margin: 20px 0;
}

.login-menu-buttons-container > button:hover {
  cursor: pointer;
}

.login-menu-buttons-container > button:active {
  background-color: white;
  color: black;
}

.login-menu-buttons-container > button > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  margin: 0 auto;
}

.login-menu-buttons-container > button > div > p {
  font-size: 16px;
}

.login-menu-buttons-container > button:last-child > div > p {
  margin: 20px auto;
}

.login-menu-buttons-container > button > div > *:first-child {
  margin-right: 20px;
  /* margin-left: 20px; */
}

.portis > img, .metamask > img {
  padding: 5px;
  width: 35px;
}

.wallet-modal-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wallet-modal-button > button > *:first-child {
  width: 70px;
}

.wallet-modal-button button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0 10px;
  width: 100%;
  margin: 10px 0;
}

.wallet-modal-button button:hover {
  cursor: pointer;
  background-color: #36454F;
}

.wallet-modal-button button:active {
  background-color: white;
  color: black;
}

.wallet-modal-button.new-user {
  width: 89%;
}

.intro-button {
  height: 50px;
  background-color: white !important;
  color: black !important;
  justify-content: center !important;
}

.disabled.intro-button {
  color: #D3D3D3 !important;
}

.activeSelection {
  background-color: grey !important;
  margin-top: 0.5px !important;
}

.activeSelection:hover {
  background-color: grey;
  cursor: default !important;
}

.inactiveSelection > p {
  color: #282828;
}

.inactiveSelection:hover {
  cursor: default !important;
  background-color: black !important;
}

#topQRDiv {
  display: 'block';
  position: 'fixed';
  z-index: 2;
  left: 0;
  top: 0;
  width: '100%';
  height: '100%';
  overflow: 'auto';
  background-color: 'rgba(0,0,0,0.8)';
}

.wallet-qr {
  background-color: white;
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.qr-modal-window-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 75%;
  margin: 0 auto;
}

.wallet-text {
  margin-top: 30px;
  max-width: 70%;
  background-color: white;
  text-align: center;
  padding: 10px 20px;
}

.new-user-header > h2 {
  color: white;
  text-align: center;
  font-weight: 300;
}

.new-user-header > p {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  width: 80%;
  margin: 20px auto;
}

.new-user-modal-window-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px; 
  width: 75%;
  margin: 0 auto;
}

.new-user-modal-window-child > .wallet-modal-button > button > *:last-child {
  max-height: 100px;
  margin-left: 15px;
}

.new-user-modal-window-child > button { 
  background-color: white;
  width: 89%;
  height: 65px;
  margin: 20px auto;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 10px 0;
}

.new-user-modal-window-child > button:hover {
  cursor: pointer;
}

.new-user-modal-window-child > button:active {
  background-color: black;
  color: white;
}


.user-details-header, .user-role-header {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.user-details-header h2, .user-details-header p, .user-role-header h2, .user-role-header p {
  color: white;
}

.user-details-fields > div {
  /* border-radius: 30px; */
  width: 100%;
  min-height: 60px;
  text-align: center;
  margin: 2px auto 20px auto !important;
}

.user-details-fields > div {
  background-color: #DCDCDC;
}

.validation-error {
  color: red;
  font-weight: bold;
  text-align: right;
  font-size: 11px;
  margin-right: 3%;
}

.username-div > div {
  max-width: 200px;
  margin: auto auto;
}

.username-div > div > * {
  padding: 10px 10px;
}

.username-div > div > p {
  color: black;
  font-size: 11px;
  margin-top: -1px;
  /* margin-right: 3%; */
}

.username-div > div > form > input  {
  margin-top: 10%;
  background-color: #DCDCDC;
  border: 2.5px solid black;
  width: 80%;
  height: 35px;
  display: flex;
  flex-direction: column;
}

.user-details-fields > div > form > input {
  background-color: #DCDCDC;
  border-radius: 30px;
  width: 90%;
  min-height: 60px;
  padding-left: 10%;
}

.user-details-fields > div > form > p {
  font-size: 8px;
}

.user-details-fields  > h4 {
  text-decoration: underline;
  font-weight: bold;
  color: white;
  margin: 15px 0px 2px 0px !important;
}

.user-details-fields {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}

.user-details-fields > button:hover:disabled {
  cursor: default;
}

.user-details-modal-window-child {
  display: flex;
  flex-direction: column;
}

.user-details-modal-window-child > button, .roles-screen-new-user > button, .roles-screen-partner > button {
  background-color: white;
  width: 75%;
  height: 80px;
  margin: 20px auto;
  font-size: 20px;
}

.roles-screen-new-user > button {
  width: 85%;
}

.user-details-modal-window-child > button:hover, .roles-screen-new-user > button:hover, .roles-screen-partner > button:hover {
  cursor: pointer;
}

.user-details-modal-window-child > button:hover:disabled, .roles-screen-new-user > button:hover:disabled, .roles-screen-partner > button:hover:disabled {
  cursor: default;
}

.user-details-modal-window-child > button:active, .roles-screen-new-user > button:active, .roles-screen-partner > button:active {
  background-color: black;
  color: white;
}

.username-div {
  align-items: center;
  text-align: center;
}

.avatar-div, .username-div {
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
}

.avatar-div > p, .username-div > p {
  max-width: 40%;
  font-size: 13.3333px;
  color:rgba(109, 109, 109, 0.95);
}

.avatar-div > p {
  margin-top: 10%;
}

.username-div > p {
  margin-left: 10%;
}

.avatar-img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 10px 0 0 0;
  border: 1px solid black;
}

.user-role-modal-window-child, .roles-screen-partner, .roles-screen-new-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-fields {
  width: 85%;
  background-color: white;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.role-button, .role-button-clicked {
  /* border-radius: 60px; */
  border: 2px solid black;
  width: 65%;
  height: 50px;
  margin: 10px 0;
  display: flex;
  align-items: center;;
}

.role-fields > *:first-child  {
  margin-top: 20px;
}

.role-fields > *:last-child {
  margin-bottom: 20px;
}

.role-button > p, .role-button-clicked > p {
  margin: 0 auto;
}

.role-button-clicked {
  height: 90px;
}

.commitment-level-parent-div {
  width: 85%;
  padding: 20px 0;
  background-color: #DCDCDC;
}

.commitment-level-div {
  background-color: #DCDCDC;
  border: 2.5px solid black;
  width: 75%;
  margin: 0 auto;
}

.commitment-level-div > p {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 0;
  margin: -1px -1px 0 -1px !important;
}

.role-button:hover {
  cursor: pointer;
}

.role-button:active {
  background-color: black;
  color: white;
}

.role-button > *, .role-button-clicked > * {
  font-size: large;
  font-weight: bold;
}

.role-button > div, .role-button-clicked > div {
  margin-left: 20px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.role-button-clicked {
  background-color: white;
  width: 100%;
  height: 70px;
  margin-bottom: -35px;
  align-items: flex-start;
  padding-top: 10px;
}

.role-button-clicked > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid black;
}

.filled-in-circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid black;
  margin: 0 auto;
  background-color: black;
}

.xp-component {
  /* background-color: black; */
  z-index: 5;
  padding: 0 20px;
  /* border-radius: 50px; */
  /* margin-bottom: 20px; */
  height: 190px;
}

.xp-component h3 {
  font-size: medium;
}

.xp-component p {
  font-size: 12px;
  margin-bottom: 25px;
}




/* **************/

.image-upload {
  position: relative;
  margin-top: 15px;
}

.image-upload > p {
  margin-top: 2px;
}

.image-upload__edit {
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 1;
}

.image-upload__edit label,
.image-upload__edit input {
  width: 34px;
  height: 34px;
}

.image-upload__edit label {
  display: block;

  background: #fff;
  border: 1px solid transparent;
  border-radius: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;

  z-index: 1;
}

.image-upload__edit label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.image-upload__edit label:after {
  content: '✎';
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.image-upload__edit input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 0;
  height: 100%;
}

.image-upload__preview {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.image-upload__preview > div {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.bar-chart-container {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: black; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.bar-chart-container:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.bar-chart-container::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid black;
}

.bar-chart-container::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid black;
}


.bar-chart-first-container {
  width: 200px;
  height: 24px;
  border: 2px solid #dcdcdc;
  /* border-radius: 10px; */
  margin-bottom: 30px;
  margin: 0 auto;
}

.bar-chart-container {  
  background-color: white;
  border: 2px solid black;
  /* border-radius: 40px; */
}

.bar-chart-metrics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 700;
}

.slider-val {
  color: white;
  margin-top: 50px;
}



.loader {
	--color: black;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}


/**
	loader --2
**/
.loader.two::before,
.loader.two::after {
	width: var(--size-dot);
	height: var(--size-dot);
	background-color: var(--color);
	border-radius: 50%;
	opacity: 0;
	animation: loader-2 0.8s cubic-bezier(0.2, 0.32, 0, 0.87) infinite;
}

.loader.two::after {
	animation-delay: 0.3s;
}

@keyframes loader-2 {
	0%, 80%, 100% {
		opacity: 0;
	}
	
	33% {
		opacity: 1;
	}
	
	0%, 100% {
		transform: translateX(-4vmin);
	}
	
	90% {
		transform: translateX(4vmin);
	}
}


.container {
	display: grid;
	grid-template-columns: repeat(3, 18vmin);
	grid-template-rows: repeat(3, 18vmin);
	grid-gap: 1vmin;
}

.item	{
	/* background: rgba(109, 109, 109, 0.95); */
	display: flex;
	place-items: center;
	border-radius: 4px;
  transition: opacity 0.4s ease;
  position: absolute;
  right: 70px;
  bottom: 10px;
}

.item h2 {
  margin-right: 45px;
}

.container:hover .item {
	opacity: 0.3;
}

.container:hover .item:hover {
	opacity: 1;
}

.page {
	margin: auto;
}

.header {
	margin-bottom: 4vmin;
}

.header-title {
	font-size: 3.75vmin;
}

.header-subtitle {
	font-size: 2vmin;
	text-transform: uppercase;
	opacity: 0.6;
}

html, body {
	display: flex;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	font-family: 'Josefin Sans', sans-serif !important;
	color: white;
	text-align: center;
	letter-spacing: 0.3px;
}

.disabled:hover {
  cursor: default !important;
}

.disabled:active {
  background-color: black !important;
  color: white !important;
}

.inactiveSelection {
  color:rgba(0, 0, 0, 0.12);
}

.inactiveSelection:hover {
  cursor: default;
}

.inactiveSelection:active {
  background-color: black !important;
  color: white !important; ;
}